* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  background-color: #f6fff6;
}
/* header */
header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px;
  background-color: #fff;
  padding: 5px 11px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  height: 90px;
}
.foody {
  margin-left: 30px;
}
.foody-logo {
  height: 82px;
  width: 82px;
}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.order:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
  letter-spacing: 3px;
}
/* hero image and text */
.container1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}
.txt {
  margin-left: 10%;
  font-size: 20px;
  color: rgba(25, 1, 112, 0.945);
}
.text-primary {
  font-size: 40px;
  color: rgba(25, 1, 112, 0.945);
}

.hero-image-container {
  position: relative;
  height: 25rem;
  width: 40rem;
}

.hero-image-container:before {
  content: "";
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 25rem;
  position: absolute;
  width: 25rem;
  margin-left: 200px;
  margin-top: 25px;
  z-index: -2;
  border-radius: 5%;
}
.img-food {
  height: 100%;
  width: 70%;
  margin-left: 20%;
  border-radius: 5%;
}
/* youtube video section */
.container2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}
.food-ad {
  margin-top: 10%;
}
.video-food:before {
  content: "";
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 330px;
  position: absolute;
  width: 430px;
  margin-left: 27px;
  margin-top: 67px;
  z-index: -2;
}

#txt:before {
  content: "";
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 8rem;
  position: absolute;
  width: 26rem;
  margin-left: -10px;
  margin-top: 2px;
  z-index: -2;
  border-radius: 5%;
}
/* food menu*/
.food-list-container {
  position: relative;
  margin: 5rem 0;
  padding-top: 18px;
}
.food-list-container-diagonal {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  transform: skewY(-7deg);
  width: 100%;
  height: 115%;
}
.food-menu-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2rem;
  margin-top: 2rem;
  width: 100%;
}
.food-menu-card {
  flex-basis: 30%;
  background-color: white;
  border-radius: 6px;
}
.food-menu-card-image {
  border-radius: 6px 6px 0px 0px;
  width: 100%;
}

.food-menu-card-details {
  padding: 1rem;
  text-align: left;
  color: black;
}

.food-menu-card-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(0, 0, 0);
  font-weight: 900;
}
.view-more-btn {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  margin: auto;
  border: none;
  height: 40px;
  width: 60%;
  font-weight: 700;
  font-size: 20px;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
.view-more-btn:hover {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 51%, #ffffff 100%);
  transition-duration: 0.4s;
  width: 100%;
  color: black;
}
/*retaurant image */
.restaurant-list-text:before {
  content: "";
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 12.5rem;
  position: absolute;
  width: 38rem;
  margin-left: -10px;
  margin-top: 2px;
  z-index: -2;
  border-radius: 5%;
}
.download-txt:before {
  content: "";
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 8rem;
  position: absolute;
  width: 25rem;
  margin-left: -10px;
  margin-top: 2px;
  z-index: -2;
  border-radius: 5%;
}

.restaurant-list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}
.restaurant-list-images-container {
  margin-top: 3rem;
}

.restaurant-list-row1 {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.restaurant-list-row2 {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row-reverse;
}

.restaurant1,
.restaurant3 {
  border-radius: 5px;
  margin: 0 5px;
  width: 250px;
  height: 150px;
}

.restaurant2,
.restaurant4 {
  border-radius: 5px;
  margin: 0 5px;
  width: 300px;
  height: 200px;
}
/* update section */
.update-txt:before {
  content: "";
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 4rem;
  position: absolute;
  width: 20rem;
  margin-left: -155px;
  margin-top: 2px;
  z-index: -2;
  border-radius: 5%;
}
.update {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.update-input {
  height: 40px;
  width: 290px;
  border: 2px solid rgb(0, 206, 17);
  background-color: rgb(218, 241, 213);
  border-radius: 6px;
}
/*downloader*/
.downloader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 20%;
  margin-top: 10%;
}
.download-img {
  height: 400px;
  width: 250px;
  cursor: pointer;
}
.downloader-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gplay,
.apps {
  height: 70px;
  width: 200px;
  margin-right: 15px;
  cursor: pointer;
}
/*footer section*/
footer {
  height: 180px;
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  line-height: 20px;
}
.foody-foot {
  color: white;
  font-size: 50px;
  font-family: cursive;
  font-weight: 700;
  cursor: pointer;
}
li {
  list-style-type: none;
  color: white;
  font-size: 15px;
  font-family: cursive;
  font-weight: 700;
  margin-top: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 640px) {
  .container1 {
    flex-direction: column;
  }
  .hero-image-container {
    height: 300px;
    width: 300px;
  }
  .hero-image-container:before {
    display: none;
  }
  .img-food {
    margin: auto;
    height: 300px;
    width: 300px;
  }
  .container2 {
    flex-direction: column;
  }
  .container3 {
    flex-direction: column;
  }
  .update {
    flex-direction: column;
  }
  .food-ad {
    height: 300px;
    width: 300px;
  }
  .video-food:before {
    height: 290px;
    width: 300px;
  }
  .text-primary {
    font-size: 1.5rem;
  }
  .txt {
    font-size: 0.8rem;
    margin: auto;
  }
  .order {
    margin: 6px;
    padding: 10px 15px;
  }
}
