* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  background-color: #f6fff6;
}
/* header navbar*/
.navbar {
  width: 100%;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px;
  top: 0;
  background-color: #fff;
  padding: 5px 11px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  height: 90px;
  z-index: 2;
}
.foody {
  margin-left: 30px;
}
.foody-logo {
  height: 82px;
  width: 82px;
}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-primary:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
  letter-spacing: 3px;
}
/* hero image and text */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 9%;
}
.txt {
  margin-left: 10%;
  font-size: 20px;
  color: rgba(25, 1, 112, 0.945);
}
.text-primary {
  font-size: 40px;
  color: white;
}

.hero-image-container {
  position: relative;
  height: 25rem;
  width: 40rem;
}

.hero-image-container:before {
  content: "";
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 25rem;
  position: absolute;
  width: 25rem;
  margin-left: 200px;
  margin-top: 25px;
  z-index: -2;
  border-radius: 5%;
}
.img-food {
  height: 100%;
  width: 70%;
  margin-left: 20%;
  border-radius: 5%;
}
/* youtube video section */
.yt-video-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}
.food-ad {
  margin-top: 10%;
}
.video-food:before {
  content: "";
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 330px;
  position: absolute;
  width: 430px;
  margin-left: 27px;
  margin-top: 67px;
  z-index: -2;
}

#txt:before {
  content: "";
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 8rem;
  position: absolute;
  width: 26rem;
  margin-left: -10px;
  margin-top: 2px;
  z-index: -2;
  border-radius: 5%;
}
/* food menu*/
.food-list-container {
  position: relative;
  margin: 5rem 0;
  padding-top: 18px;
}
.food-list-container-diagonal {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  transform: skewY(-7deg);
  width: 100%;
  height: 115%;
}
.food-menu-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2rem;
  margin-top: 2rem;
  width: 100%;
}
.food-menu-card {
  flex-basis: 30%;
  background-color: white;
  border-radius: 6px;
}
.food-menu-card-image {
  border-radius: 6px 6px 0px 0px;
  width: 100%;
}

.food-menu-card-details {
  padding: 1rem;
  text-align: left;
  color: black;
}

.food-menu-card-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(0, 0, 0);
  font-weight: 900;
}
.view-more-btn {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  margin: auto;
  border: none;
  height: 40px;
  width: 60%;
  font-weight: 700;
  font-size: 20px;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
.view-more-btn:hover {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 51%, #ffffff 100%);
  transition-duration: 0.4s;
  width: 100%;
  color: black;
}
/*retaurant image */
.restaurant-list-text:before {
  content: "";
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 12.5rem;
  position: absolute;
  width: 38rem;
  margin-left: -10px;
  margin-top: 2px;
  z-index: -2;
  border-radius: 5%;
}
.download-txt:before {
  content: "";
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 8rem;
  position: absolute;
  width: 25rem;
  margin-left: -10px;
  margin-top: 2px;
  z-index: -2;
  border-radius: 5%;
}

.restaurant-list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}
.restaurant-list-images-container {
  margin-top: 3rem;
}

.restaurant-list-row1 {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.restaurant-list-row2 {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row-reverse;
}

.restaurant1,
.restaurant3 {
  border-radius: 5px;
  margin: 0 5px;
  width: 250px;
  height: 150px;
}

.restaurant2,
.restaurant4 {
  border-radius: 5px;
  margin: 0 5px;
  width: 300px;
  height: 200px;
}
/*got you*/
.got-you {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  color: white;
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}
/*card flips*/
.card {
  width: 300px;
}
.card-content {
  text-align: center;
  position: relative;
  padding: 5rem;
  transition: transform 2s;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  transform-style: preserve-3d;
  color: white;
  border-radius: 2rem;
}
.card:hover .card-content {
  transform: rotateY(0.5turn);
  -webkit-transform: rotateY(0.5turn);
  -moz-transform: rotateY(0.5turn);
  -ms-transform: rotateY(0.5turn);
  -o-transform: rotateY(0.5turn);
}
.card-front,
.card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 2rem;
}

.card-front {
  transform: rotateZ(1turn);
  transform: translateZ(100px);
}
.card-back {
  background-color: rgb(88, 221, 132);
  transform: rotateY(0.5turn);
  color: white;
  font-size: 17px;
}
.card-title {
  font-size: 3rem;
  transform: translateZ(6rem);
}
.card-subtitle {
  transform: translateZ(4rem);
}
.card-body {
  transform: translateZ(3rem);
}
.cards-flip {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* update section */
.update-txt:before {
  content: "";
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 4rem;
  position: absolute;
  width: 20rem;
  margin-left: -155px;
  margin-top: 2px;
  z-index: -2;
  border-radius: 5%;
}
.update {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.update-input {
  height: 40px;
  width: 290px;
  border: 2px solid rgb(0, 206, 17);
  background-color: rgb(218, 241, 213);
  border-radius: 6px;
}
/*downloader*/
.downloader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 20%;
  margin-top: 10%;
}
.download-img {
  height: 400px;
  width: 250px;
  cursor: pointer;
}
.downloader-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gplay,
.apps {
  height: 70px;
  width: 200px;
  margin-right: 15px;
  cursor: pointer;
}
/*footer section*/
.footer {
  height: 180px;
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  line-height: 20px;
}
.foody-foot {
  color: white;
  font-size: 50px;
  font-family: cursive;
  font-weight: 700;
  cursor: pointer;
}
.list ul li {
  list-style-type: none;
  color: white;
  font-size: 15px;
  font-family: cursive;
  font-weight: 700;
  margin-top: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 1445px) {
  .hero-image-container:before {
    display: none;
  }
}
@media only screen and (max-width: 1195px) {
  .hero-container {
    margin-top: 20%;
  }
  .text-primary {
    color: rgb(0, 0, 0);
    font-size: 25px;
  }
  .hero-image-container:before {
    display: none;
  }
  #txt:before {
    display: none;
  }
  .update-txt:before {
    display: none;
  }
  .download-txt:before {
    display: none;
  }
  .restaurant-list-text:before {
    display: none;
  }
  .restaurant1,
  .restaurant3 {
    margin: 0 5px;
    width: 170px;
    height: 110px;
  }

  .restaurant2,
  .restaurant4 {
    margin: 0 5px;
    width: 200px;
    height: 150px;
  }
  .cards-flip {
    flex-direction: column;
  }
  .card-content {
    margin: 1rem;
  }
}
@media only screen and (max-width: 770px) {
  .hero-container {
    flex-direction: column;
    margin-top: 35%;
  }
  .hero-image-container {
    margin-top: 10%;
    height: 300px;
    width: 300px;
  }
  .hero-image-container:before {
    display: none;
  }
  .video-food:before {
    display: none;
  }
  .img-food {
    margin: auto;
    height: 300px;
    width: 300px;
  }
  .yt-video-container {
    flex-direction: column;
  }
  .text-primary {
    color: black;
  }
  #txt:before {
    display: none;
  }
  .food-menu-card-list {
    flex-direction: column;
  }
  .foody-logo {
    height: 5rem;
    margin-left: -20%;
  }
  .btn-primary {
    height: 35px;
    font-size: 13px;
    line-height: 12px;
  }
  .food-list-container-diagonal {
    display: none;
  }
  .food-list-container {
    margin-top: -10%;
    width: 70%;
    margin: auto;
  }
  .restaurant-list-container {
    margin-top: 0%;
  }
  .update-txt:before {
    display: none;
  }
  .download-txt:before {
    display: none;
  }
  .restaurant-list-container {
    flex-direction: column;
  }
  .restaurant-list-text:before {
    display: none;
  }
  .restaurant1,
  .restaurant3 {
    margin: 0 5px;
    width: 150px;
    height: 120px;
  }

  .restaurant2,
  .restaurant4 {
    margin: 0 5px;
    width: 180px;
    height: 160px;
  }
  .download-img {
    height: 270px;
    width: 150px;
  }
  .gplay,
  .apps {
    height: 40px;
    width: 90px;
    margin-right: 15px;
    cursor: pointer;
  }
  .container3 {
    flex-direction: column;
  }
  .update {
    flex-direction: column;
  }
  .food-ad {
    height: 300px;
    width: 300px;
  }
  .video-food:before {
    height: 290px;
    width: 300px;
  }
  .text-primary {
    font-size: 1.5rem;
  }
  .txt {
    font-size: 0.8rem;
    margin: auto;
  }
  .btn-primary {
    margin: 6px;
    padding: 10px 15px;
  }
  .foody-foot {
    font-size: 30px;
  }
  .list ul li {
    font-size: 13px;
  }

  .cards-flip {
    flex-direction: column;
  }
  .card-content {
    margin: 1rem;
  }
}
